v3/src/Encrypto3/.vs/Encrypto3/v17/Browse.VC.db
v3/src/Encrypto3/.vs/Encrypto3/v17/Browse.VC.db-wal
v3/src/Encrypto3/.vs/Encrypto3/v17/Browse.VC.opendb
v3/src/Encrypto3/.vs/Encrypto3/v17/Browse.VC.db-shm
.vs/visual studio encrypto/v17/Browse.VC.db
v3/src/Encrypto3/Encrypto3/Encrypto3.vcxproj.user
